<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @akarsh.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @akarsh.description %>
</p>

<%= link_to 'Edit', edit_akarsh_path(@akarsh) %> |
<%= link_to 'Back', akarshes_path %>
